<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title>LH 6</title>
        <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.3.0/build/cssreset/reset-min.css">
		
		<link type="text/css" href="css/main.css" rel="stylesheet" />
		<script type="text/javascript" src="js/swfobject/swfobject.js"></script>
		<script type="text/javascript" src="js/json2.js"></script>		
		<script type="text/javascript" src="js/jquery/jquery-1.5.2.min.js"></script>
		<script type="text/javascript" src="js/flxhr/flXHR.js"></script>
		<script type="text/javascript" src="js/strophe/strophe.js"></script>
		<script type="text/javascript" src="js/strophe/strophe.flxhr.js"></script>
		<script type="text/javascript" src="js/underscore/underscore-min.js"></script>
		<script type="text/javascript" src="js/backbone/backbone-min.js"></script>
		
		
		
		<!-- Jquery plugins -->
		<script type="text/javascript" src="js/jquery/pubsub.js"></script>
		<script type="text/javascript" src="js/jquery/jquery.mousewheel.min.js"></script>	
		<script type="text/javascript" src="js/jquery/jquery.lh.remoteScroll.js"></script>
		<script type="text/javascript" src="js/jquery/jquery.lh.tooltips.js"></script>	
		<script type="text/javascript" src="js/jquery/jquery.jscrollpane.js"></script>			
		
		
		<body>
			<div id="wrapper">
				<!-- Loading screen -->
					<div id="loading" style="display: none">
						<div id="login">
							<h1 id="loginLogo">Listening Hall</h1>
							<!-- Create new room -->
							<div id="createDialog">
								<ul class="dialog1">
									<li>
										Room name<br>
										<input id="loginRoom" type="text">
									</li>
									<li>
										Your nickname<br> 
										<input id="loginNick" type="text">
									</li>
									<li><a href="#" id="createNew" class="button1">Create</a></li>
								</ul>
							</div>
							<!-- Join existing room -->
							<div id="joinDialog" style="display: none">
								<ul class="dialog1">
									<li>Room<h2></h2></li>
									<li>
										Your nickname<br> 
										<input id="loginNick" type="text">
									</li>
									<li class="hidden">
										Password<br> 
										<input id="loginPass" type="text">								
									</li>
									<li><a href="#" id="joinExisting" class="button1">Join</a></li>
								</ul>
							</div>
						</div>
					</div>
				<!-- end of loading screen -->				
				<div id="leftColumn">
					<div id="playlist">
						<div id="plsongs">
							<ul>
							
							</ul>
						</div>
						<div id="plcontrols">
							<div id="plcontrolsShadow"></div>
							<ul>
								<li><a href="#" class="button2" id="playlistUp">Scroll playlist up</a></li>
								<li><a href="#" class="button2" id="playlistDown">Scroll playlist down</a></li>
								<li><a href="#" class="button2" id="playlistAdd">Add song to playlist</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div id="rightColumn">
					<!-- Search screen -->
					<div id="search">
						
						
						<div id="searchContent">
							<div id="searchBox">
								<input type="text" value="Search Youtube" id="searchText" />
								<a href="#" id="searchButton" />Search</a>
							</div>
							<div id="searchResults">
								
							</div>
						</div>
						
						
						
						
						
						
						
						
						
						
					</div>
					<!-- end of search screen -->
					<div id="youtubePlayer">
						<div id="video">
							<div id="ytapiplayer"></div>
						</div>
					</div>
					<div id="chat">
						<div id="chatDisplay"></div>
						<input id="chatInput" />
					</div>
				</div>
				<br clear="all" />
			</div>
			
			
</html>















<!-- Models -->
<script type="text/javascript" src="js/app/models/Song.js"></script>
<script type="text/javascript" src="js/app/models/Member.js"></script>

<!-- Collections -->
<script type="text/javascript" src="js/app/collections/Playlist.js"></script>
<script type="text/javascript" src="js/app/collections/MemberList.js"></script>

<!-- Views -->
<script type="text/javascript" src="js/app/views/PlaylistView.js"></script>
<script type="text/javascript" src="js/app/views/SongView.js"></script>
<script type="text/javascript" src="js/app/views/SearchView.js"></script>
<script type="text/javascript" src="js/app/views/YTPlayerView.js"></script>
<script type="text/javascript" src="js/app/views/MembersView.js"></script>
<script type="text/javascript" src="js/app/views/ChatView.js"></script>
<script type="text/javascript" src="js/app/views/LoginView.js"></script>
<!-- Connection -->
<script type="text/javascript" src="js/app/Connection.js"></script>
<!-- Main -->
<script type="text/javascript" src="js/app/main.js"></script>

<!----TEMPLATES-------------------------------------------------------- -->


<!-- Chat message template -->
<script type="text/template" id="message-template">
	<span class="message"><span class="nick"><%= nick %>: </span><%= message %></span>
</script>

<!-- Song li template -->
<script type="text/template" id="song-template">
	<li class="song"><%= sid %></li>
</script>

<!-- Member li template -->
<script type="text/template" id="memberul-template">
	<ul>
		<% _.each(items, function(i) { %>
			<li id="<%= i.cid %>"><%= i.get("nick") %></li>
		<% }); %>
	</ul>
</script>






<!-- Search ul template -->
<script type="text/template" id="search-template">
<ul>
	<% _.each(results, function(i) { %>
		<% var media = i.media$group; %>
		<li id="<%= media.yt$videoid.$t %>">
			<img class="searchImage" src="<%= media.media$thumbnail[0].url %>" />
			<div class="searchInfo">
				<a class="searchTitle"><%= media.media$title.$t %></a>
				<div class="searchMisc">
					Duration: <%= media.yt$duration.seconds %> - 
					<a href="#" id="<%= media.yt$videoid.$t %>">Add to playlist</a>
				</div>
			</div>
			<br clear="all" />
		</li>
	<% }); %>
<ul>
</script>














