<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title>ListeningHall</title>

        <!-- css -->
        <link type="text/css" href="reset-min.css" rel="stylesheet" />
		<link type="text/css" href="jquery-ui-1.8.14.custom.css" rel="stylesheet" />
		<link type="text/css" href="main.css" rel="stylesheet" />
		
        <!-- Libraries -->
		<script type="text/javascript" src="js/libraries/swfobject.js"></script>
		<script type="text/javascript" src="js/libraries/jquery-1.6.2.min.js"></script>
		<script type="text/javascript" src="js/libraries/jquery-ui-1.8.14.custom.min.js"></script>
	    <script type="text/javascript" src="js/libraries/strophe.min.js"></script>
		<script type="text/javascript" src="js/libraries/underscore-min.js"></script>
		<script type="text/javascript" src="js/libraries/backbone-min.js"></script>
				
		<!-- Jquery plugins -->
		<script type="text/javascript" src="js/plugins/pubsub.js"></script>
		<script type="text/javascript" src="js/plugins/jquery.mousewheel.min.js"></script>	
		<script type="text/javascript" src="js/plugins/jquery.lh.remoteScroll.js"></script>
		<script type="text/javascript" src="js/plugins/jquery.miniTip.min.js"></script>	
        <script type="text/javascript" src="js/plugins/jquery.text-overflow.min.js"></script>	
		<script type="text/javascript" src="js/plugins/jquery.jscrollpane.min.js"></script>
	
		<body>
		<div id="topContainer">
			<div id="top">
				<h1 id="mainLogo">Listening Hall</h1>
                <div id="toolbar">
                    <ul>
                        <li><span id="inviteTool"></span></li>
                        <li><span id="membersTool"></span></li>
                        <li class="hidden"><span id="passTool"></span></li>
                    </ul>    
                </div>
				<br clear="all" />
		    </div>
		</div>	
		<div id="shadow">
			<div id="wrapper">
				<!-- Loading screen -->
					<div id="loading">
						<div id="login" class="valign1">
							<h1 id="loginLogo">Listening Hall</h1>
							<div id="loginProgress"></div>
							<div id="loginDialog">
								<ul class="dialog1">
									<li>Room name <span id="room_conflict"></span><br><input id="loginRoom" type="text"></li>
									<li>Your nick <span id="nick_conflict"></span><br><input id="loginNick" type="text"></li>
									<li id="requirePass">Password <span id="pass_conflict"></span><br><input id="loginPass" type="text"></li>
									<li><span id="loginButton" class="button1">Create</span></li>
								</ul>
							</div>		
						</div>
					</div>
                    <!-- end of loading screen -->
					<div id="app">
						<div id="leftColumn">
							<div id="playlist">
								<div id="plsongs">
									<ul>
                                    </ul>
                                    <div id="plshadowbar"></div>
								</div>
								<div id="plcontrols">
									<div id="plcontrolsShadow"></div>
									<div id="volume">
										<div id="volumeIcon"></div>
										<div id="volumeSlider"></div>
									</div>
									<ul>
										<li><span id="playlistUp">Scroll playlist up</span></li>
										<li><span id="playlistDown">Scroll playlist down</span></li>
										<li><span id="playlistAdd">Add song to playlist</span></li>
									</ul>
								</div>
							</div>
						</div>
						<div id="rightColumn">
							<!-- Search screen -->
							<div id="search">
								<div id="searchContent">
									<div id="searchBox">
										<input type="text" value="Search Youtube ..." id="searchText" />
										<span id="searchButton" />Search</span>
									</div>
									<div id="searchResults"></div>
								</div>
							</div>
							<!-- end of search screen -->
							<div id="youtubePlayer">
								<div id="video">
									<div id="ytapiplayer"></div>
								</div>
							</div>
							<div id="chat">
								<div id="chatDisplay"></div>
								<input id="chatInput" />
							</div>
						</div>
						<br clear="all" />
					</div>
			</div>
		</div>	
</html>

<!-- Models/Collections -->
<script type="text/javascript" src="js/app/models_collections/Song.js"></script>
<script type="text/javascript" src="js/app/models_collections/Member.js"></script>
<script type="text/javascript" src="js/app/models_collections/Playlist.js"></script>
<script type="text/javascript" src="js/app/models_collections/MemberList.js"></script>

<!-- Views -->
<script type="text/javascript" src="js/app/views/PlaylistView.js"></script>
<script type="text/javascript" src="js/app/views/SongView.js"></script>
<script type="text/javascript" src="js/app/views/SearchView.js"></script>
<script type="text/javascript" src="js/app/views/YTPlayerView.js"></script>
<script type="text/javascript" src="js/app/views/ToolbarView.js"></script>
<script type="text/javascript" src="js/app/views/ChatView.js"></script>
<script type="text/javascript" src="js/app/views/LoginView.js"></script>

<!-- Connection -->
<script type="text/javascript" src="js/app/Connection.js"></script>

<!-- Main -->
<script type="text/javascript" src="js/app/main.js"></script>


<!-- Chat message template -->
<script type="text/template" id="message-template">
    <div class="chatMessage">
        <div class="chatNick"></div>
        <div class="chatText"></div>
    </div>
</script>

<!-- Song li template -->
<script type="text/template" id="song-template">
		<div class="song ">
			<img class="plimage" src="<%= thumb %>" />
			<div class="plinfo">
				<span class="pltitle" title="<%= title %>"><%= title %></span>
				<span class="plduration">Duration 
                <span class="time">
                    <% var time = function (t) {
                            var h = Math.floor(t / 3600),
                                m = Math.floor((t / 60) % 60),
                                s = t % 60,
                                fm = ((h > 0) ? (h + "h ") : "") + ((m > 0) ? (m + "m ") : "") + ((s > 0) ? (s + "s ") : "");
                             return fm;                  
                        }(slen); %>
                        <%= time %>
                </span>
                </span>
                <span class="plskip">- <a href="javascript:;">Vote to skip &#187</a></span>
			</div>
			<br clear="all" />
		</div>
</script>

<!-- Member li template -->
<script type="text/template" id="memberul-template">
	<ul class='list1'>
		<% _.each(mem, function(m) { %><li><%= m.nick %></li><% }); %>
	</ul>
</script>


<!-- Search ul template -->
<script type="text/template" id="search-template">
<ul>
	<% _.each(results, function(i) { %>
		<% var media = i.media$group; %>
		<li id="<%= media.yt$videoid.$t %>">
			<div class="searchInfo">
				<div class="searchTitle"><%= media.media$title.$t %></div>
				<div class="searchMisc">	
					<span class="button4 addPlaylist" id="<%= media.yt$videoid.$t %>">Add to playlist</span>							
					<span class="button3">Duration: 
                        <span class="time">
                            <% var time = function (t) {
                                    var h = Math.floor(t / 3600),
                                        m = Math.floor((t / 60) % 60),
                                        s = t % 60,
                                        fm = ((h > 0) ? (h + "h ") : "") + ((m > 0) ? (m + "m ") : "") + ((s > 0) ? (s + "s ") : "");
                                    return fm;                  
                               }(media.yt$duration.seconds); 
                            %>
                            <%= time %>
                        </span>
                    </span>
				</div>
			</div>
            <img class="searchImage" id="<%= media.yt$videoid.$t %>" src="<%= media.media$thumbnail[0].url %>" />
			<br clear="all" />
		</li>
	<% }); %>
<ul>
</script>


<!-- Invite tip template -->
<script type="text/template" id="invite-template">
    <span class='highlight1'>Just share this link: </span><br><span class='highlight2'><%= link %></span>
</script>


<!-- Password tip tempalte -->
<script type="text/template" id="pass-template">
        <div id="passwordForm">Password: <br> <input id="setPassword" value="<%= pass %>" type="text" /></div>
</script>












