html {
	background: url('images/htmlbg.gif') top left #d6d6d6 repeat-y;
	font-family: Arial;
	font-size: 0.9em;
	color: #d8d9da;
	padding-top: 75px }
 
textarea:focus, input:focus { outline: none }
 
#shadow {
	width: 985px;
	height: 573px;
	padding: 27px 0 0 25px;
	margin: -25px auto 0;
	background: url('images/shadow.png') top left no-repeat; }
 
#wrapper {
	background: #e8e8e8;
	border: solid 4px #f1f1f1;
	height: 541px;
	width: 952px; }
 
#topContainer {
	width: 952px;
	height: 65px;
	margin: 0 auto }
 
#top {
	width: 952px;
	height: 65px;
	display: none}

#toolbar ul {
	margin: 25px 0 0 0;
	padding: 0;
	height: 25px;
	float: right }
 
	#toolbar ul li {
		margin: 0 0 0 4px;
		padding: 0;
		list-style: none;
		float: left;
		height: 25px }
    
    #toolbar li#invli {width: 74px}
    #toolbar li#memli {width: 22px}
    #toolbar li#passli {width: 22px; display: none}
    #toolbar.admin li#passli {width: 22px; display: inline}

    #toolbar ul li span {
        display: block;
	    width: 0;
	    height: 0;
	    font-size: 0;
	    overflow: hidden;
    }
 
span#invite {
    padding: 0 0 25px 74px;
	background: url('images/invite_button.png') top left no-repeat;
	background-position: 0 0; }
 
span#members {
    padding: 0 0 25px 22px;
	background: url('images/members_button.png') top left no-repeat;
	background-position: 0 0; }
 
span#pass {
    padding: 0 0 25px 22px;
	background: url('images/pass_button.png') top left no-repeat;
	background-position: 0 0; }
 
span:hover#invite { background-position: 0 -25px; }
 
span:hover#members { background-position: 0 -25px; }
 
span:hover#pass { background-position: 0 -25px; }









.highlight1 {
    color: #8dd2ef;
}
.highlight2 {
    color: #fff;
}






#loading {
	background: url('images/loading_bg.png') top left no-repeat #000;
	height: 541px;
	width: 952px;
	position: absolute;
	z-index: 9999 }

#login {
	width: 494px;
	min-height: 170px;
	margin: 0 auto; }
 
	#login.valign1 { margin-top: 245px }
 
	#login.valign2 { margin-top: 195px }
 	
	#login.valign3 { margin-top: 160px }	
	
	#login a { color: #fff }
 
	#login input {
		background: #000;
		height: 22px;
		width: 190px;
		border: solid 1px #5a5a5a;
		padding: 5px;
		color: #a5a5a5;
		line-height: 18px;
		color: #fff; }
 
		#login input.set1 {
			border: solid 1px #f4f1d5;
			background: #f4f1d5;
			color: #000;
			font-weight: bold; }
 
			#login input.set1:focus { border: solid 1px #f4f1d5; }
 
		#login input:focus { border: solid 1px #fff; }
 
h1#loginLogo {
	display: block;
	width: 0;
	height: 0;
	font-size: 0;
	padding: 0 0 45px 236px;
	background: url('images/lh_logo.png') top left no-repeat;
	float: left;
	overflow: hidden; }
 
h1#mainLogo {
	display: block;
	width: 0;
	height: 0;
	font-size: 0;
	padding: 0 0 65px 220px;
	margin: 0 0 0 25px;
	background: url('images/lh_logo.png') top left no-repeat;
	float: left;
	overflow: hidden; }
 
#loginProgress {
	background: #000;
	border: solid 1px #656565;
	float: left;
	width: 220px;
	height: 18px;
	font-weight: bold;
	margin: 6px 0 0 20px; }
 
	#loginProgress .ui-slider-range { background: url('images/loading_bar.gif') }
 
#loginDialog {
	float: right;
	width: 200px;
	padding: 0 0 0 25px;
	border-left: solid 1px #5c5c5c;
	display: none }

#requirePass { display: none };
 
#createButton, #joinButton { display: block; }
 
#room_conflict, #nick_conflict, #pass_conflict {
	color: #adf8ff;
    margin-left: 5px;
    position: absolute;
	display: none }
 
#leftColumn {
	float: left;
	width: 315px; }
 
#rightColumn {
	float: right;
	width: 637px; }
 
#search {
	background: url('images/search_pattern.png');
	position: absolute;
    z-index: 9999;
	width: 470px;
	height: 541px;
	border-right: solid 5px #b9b9b9;
	display: none;
}
 
#searchContent {  
	background: url('images/shadow2.png') top left repeat-y;
	width: 440px;
	height: 515px;
	padding: 26px 0 0 30px;	
}
 
#searchResults {
	width: 405px;
	height: 440px;
	overflow: hidden;
	margin: 10px 0 0 5px; }
 
	#searchResults ul {
		margin: 0;
		padding: 0;
		list-style: none;
		position: relative }
 
		#searchResults ul li {
			border-bottom: solid 1px #696864;
			width: 380px;
			padding: 11px 5px 11px 5px; }
 
			#searchResults ul li:hover { background: url('images/black_transparent_bg3.png'); }
 
			#searchResults ul li:hover img { border: solid 4px #494949 }

#searchBox {
	width: 387px;
	height: 32px;
	padding: 14px 13px 0 13px;
	background: url('images/search_bar.png') top left no-repeat; }
 
#searchText {
	background: none;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: none;
	width: 360px;
	height: 15px;
	font-size: 1em;
	margin: 0;
	padding: 0;
	color: #fff;
	float: left; }
 
#searchButton {
    cursor: pointer;
	display: block;
	float: right;
	background: url('images/find_icon.gif');
	margin: 2px 0 0 0;
	padding: 0;
	overflow: hidden;
	text-decoration: none;
	width: 0;
	height: 0;
	font: 0pt;
	padding: 0 0 12px 12px; }
 
#playlist {
	background: url('images/playlist_pattern.jpg');
	height: 541px;
	width: 315px; }
 
#plshadowbar {
    background: url('images/shadowbar1.png') repeat-x;
    width: 315px;
    height: 6px;
    display: block;
    font-size: 0;
}

#plsongs {
	height: 490px;
	width: 315px;
	overflow: hidden }
 
	#plsongs ul {
		padding: 0;
		margin: 0; }
#plcontrolsShadow {
	width: 315px;
	height: 9px;
	background: url('images/controls_shadow.png') top left no-repeat;
	position: relative;
	top: -9px }
 
#plcontrols {
	background: url('images/controls_bg.jpg') top left no-repeat;
	height: 51px;
	width: 315px; }
 
#volume {
	float: left;
	width: 146px;
	margin-top: 14px;
	margin-left: 16px; }
 
#volumeIcon {
	background: url('images/volume_icon.gif');
	width: 7px;
	height: 11px;
	float: left; }
 
#volumeSlider {
	width: 130px;
	height: 5px;
	float: right;
	margin-top: 2px; }
 
#plcontrols ul {
	margin: 2px 14px 0 0;
	padding: 0;
	width: 102px;
	height: 36px;
	float: right; }
 
	#plcontrols ul li {
		margin: 0;
		padding: 0;
		list-style: none;
		float: left;
		width: 34px;
		height: 36px; }
    
    #plcontrols ul li span {
        display: block;
	    width: 0;
	    height: 0;
	    font-size: 0;
	    padding: 0 0 36px 34px;
	    overflow: hidden
    }
 
span#playlistUp {
	background: url('images/playlist_up.jpg') top left no-repeat;
	background-position: 0 0; }
 
span#playlistDown {
	background: url('images/playlist_down.jpg') top left no-repeat;
	background-position: 0 0; }
 
span#playlistAdd {
	background: url('images/playlist_add.jpg') top left no-repeat;
	background-position: 0 0; }
 
span:hover#playlistUp { background-position: 0 -36px; }
 
span:hover#playlistDown { background-position: 0 -36px; }
 
span:hover#playlistAdd { background-position: 0 -36px; }
 
#youtubePlayer {
	width: 637px;
	height: 300px;
	padding: 42px 0 0 0;
	background: url('images/gray_backgrounds.jpg') top left no-repeat; }
 
#video {
	border: solid 5px #f9f9f9;
	width: 444px;
	height: 250px;
	background: #000;
	margin: 0 auto }
 
#chat {
    width: 637px;
	height: 199px;
	background: #dadada }
 
#chatDisplay {
    width: 607px;
    padding: 15px 0 0 30px;
	background: url('images/gray_backgrounds.jpg') top left no-repeat;
	background-position: 0 -342px;
	height: 168px;
    word-wrap: break-word;
	overflow: auto;
    font-size: 0.8em; }
 
#chatInput {
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: none;
	padding: 0px 0px 0px 0px;
	margin: 9px 0px 0px 5px;
	width: 630px;
	color: #6d6d6d;
	font-size: 0.8em;
	background: none
}
 
/* Classes */
.block { display: block; }
 
.hidden { display: none; }
 
.dialog1 {1f1f1f
	padding: 0;
	margin: 0;
	list-style: none }
 
	.dialog1 li {
		margin: 0;
		padding: 0; }
 
	.dialog1 h2 {
		margin-top: 5px;
		color: #fff }
 
	.dialog1 input {
		margin: 5px 0 15px 0;
		width: 160px; }
 
.chatMessage {
    width: 560px;
    display: block;
    margin-bottom: 15px;

    line-height: 1.6em;
}

.chatNick { 
    display: block; 
    color: #4e4e4e; 
    font-weight: bold;
}
 
.chatText {
	display: block;
	color: #4e4e4e }
 
.block { display: block; }

.box1 {
	display: block;
	color: #fff;
	font-size: 0.7em;
	font-weight: bold;
	float: right;
	padding: 7px;
	margin: 6px 0 0 4px;
	text-decoration: none;
	background: #b7babb;
	border-solid: solid 1px #dbdbdb;
	border-radius: 4px;
	-webkit-border-radius: 4px;

	-moz-border-radius: 4px; }

	.box1 a { color: #fff; text-decoration: none }

.box2 {
	display: block;
	float: left;
	color: #fff;
	font-size: 0.75em;
	padding: 4px 6px 4px 6px;
	margin: 6px 0 0 0px;
	text-decoration: none;
	background: #242224;
	border-solid: solid 1px #242224;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px; }


span.button1 {
	color: #fff;
	display: block;
	width: 81px;
	height: 25px;
	padding: 11px 0 0 0;
	background: url('images/join_button.png') top left no-repeat;
	background-position: 0 0;
	text-decoration: none;
	text-align: center;
	overflow: hidden; }
 
span:hover.button1 { background-position: 0 -36px }
	
span.button5 {
    cursor: pointer;
	display: block;
	float: left;
	color: #fff;
	font-size: 0.75em;
	padding: 4px 8px 4px 17px;
	margin: 6px 0 0 4px;
	text-decoration: none;
	background: url('images/plus_icon.gif') no-repeat 6px 9px #242224;
	border-solid: solid 1px #242224;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px; }

	span.button5:hover { background: url('images/plus_icon.gif') no-repeat 6px 9px #90c6da }
 
a#share.button3:hover { cursor: text }
 
/* Playlist song template */
.song {
	width: 291px;
	height: 63px;
	padding: 6px 16px 0 8px;
	background: url('images/song_bg.jpg') top left no-repeat;
	background-position: 0 -69px
}

.add {
	background: url('images/small_icons.gif') 0 0 no-repeat;
	width: 0px;
	height: 0px;
	padding: 0 0 12px 12px;
	display: inline
}	
 
.plimage {
	width: 69px;
	height: 50px;
	border: solid 3px #ededed;
	background: #ae9b97;
	display: block;
	float: left; }
 
.plinfo {
	width: 208px;
	height: 42px;
	padding: 14px 0 0 0;
	display: block;
	float: right;
	font-family: Arial }
 
.pltitle {
	height: 16px;
	display: block;
	overflow: hidden;
	font-size: 0.8em;
	color: #6a737d;
	cursor: default; }
 
.plduration {
	height: 16px;
	font-size: 0.79em;
	color: #babbbe;
	margin-top: 1px }

.plskip {
	height: 16px;
	font-size: 0.79em;
	margin-top: 1px;
    text-decoration: none;
    display: none }

.plskip a {
    color: #2997c0;
    text-decoration: none
}

.playing {
	background-position: 0 0;
}

.playing span.pltitle {
	color: #000;
	font-weight: bold;
}
.playing span.plskip {
    display: inline
}
.playing span.plskip a:hover {
    text-decoration: underline
}
 
.searchImage {
	width: 69px;
	height: 50px;
	border: solid 4px #383838;
	background: #000;
	display: block;
	float: left }
 
.searchInfo {
	width: 278px;
	margin-left: 10px;
	float: left; }
 
.searchTitle {
	font-size: 0.8em;
	font-weight: bold;
	color: #fff;
	cursor: default; }
 
.searchMisc {
	overflow: hidden;
	margin-top: 5px; }
 
/* Override Jquery UI slider style */
.ui-slider { border: solid 1px #dddddd }
.ui-slider-range { background: #dddddd }
.ui-slider-handle { display: none }

/*! miniTip CSS - v1.2.5 */
#miniTip {
    /* main styles for tooltip */
    background-color: #000;
	border: 1px solid #000;
	color: #fff;
	font-size: 0.8em;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
    /* end editing style */
	display: none;
	position: absolute;
	top: 0;
	left: 0;
    z-index: 99999;
}


/* title bar style */
#miniTip_t {
	background-color: #f5edc2;
	font-weight: 700;
	padding: 4px 6px;
}

/* main content style */
#miniTip_c { padding: 4px 8px }


/* arrow holder, no need to edit */
#miniTip_a {
	width: 0;
	height: 0;
	position: absolute;
	top: 0;
	left: 0;
}

/* arrow pointing down, change border-top color to change color of the arrow */
#miniTip .n {
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-top: 8px solid #000;
	border-bottom: 0;
}

/* arrow pointing up, change border-bottom color to change color of the arrow */
#miniTip .s {
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 8px solid #000;
	border-top: 0;
}

/* arrow pointing left, change border-right color to change color of the arrow */
#miniTip .e {
	border-bottom: 8px solid transparent;
	border-top: 8px solid transparent;
	border-right: 8px solid #000;
	border-left: 0;
}

/* arrow pointing right, change border-left color to change color of the arrow */
#miniTip .w {
	border-bottom: 8px solid transparent;
	border-top: 8px solid transparent;
	border-left: 8px solid #000;
	border-right: 0;
}

/*
 * CSS Styles that are needed by jScrollPane for it to operate correctly.
 *
 * Include this stylesheet in your site or copy and paste the styles below into your stylesheet - jScrollPane
 * may not operate correctly without them.
 */
.jspContainer {
	overflow: hidden;
	position: relative; }
 
.jspPane { position: absolute; }
 
.jspVerticalBar {
	position: absolute;
	top: 0;
	right: 0;
	width: 5px;
	height: 100%;
	background: red; }
 
.jspHorizontalBar {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 16px;
	background: red; }
 
.jspVerticalBar *,
.jspHorizontalBar * {
	margin: 0;
	padding: 0; }
 
.jspCap { display: none; }
 
.jspHorizontalBar .jspCap { float: left; }
 
.jspTrack {
	position: relative; }
 
.jspDrag {
	position: relative;
	top: 0;
	left: 0;
	cursor: pointer; }
 
.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag {
	float: left;
	height: 100%; }
 
.jspArrow {
	background: #50506d;
	text-indent: -20000px;
	display: block;
	cursor: pointer; }
 
	.jspArrow.jspDisabled {
		cursor: default;
		background: #80808d; }
 
.jspVerticalBar .jspArrow { height: 16px; }
 
.jspHorizontalBar .jspArrow {
	width: 16px;
	float: left;
	height: 100%; }
 
.jspVerticalBar .jspArrow:focus { outline: none; }
 
.jspCorner {
	background: #eeeef4;
	float: left;
	height: 100%; }

/* Individual scrollpane styles */
#searchResults .jspDrag { background: #3b3b3b; }
#searchResults .jspDrag:hover { background: #fff }
#searchResults .jspTrack {background: #5c5c5c;}

#chat .jspDrag { background: #b7b7b7; }
#chat .jspDrag:hover { background: #757575 }
#chat .jspTrack {background: #d5d5d5;}

