<ion-view title="Create A Room" hide-nav-bar="true">
  <ion-content class="content padding has-header">
<div class="list">
  <label class="item item item-input">
    <input type="text" placeholder="Room name">
  </label>
  <label class="item item-input">
    <input type="text" placeholder="Pick a nickname">
  </label>
  <button ui-sref="tab.room" class="button button-md button-block button-positive item-icon-right">Create <i class="icon  ion-ios7-arrow-thin-right"></i></button></div>
</div>
  </ion-content>
</ion-view>
